


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400&family=Roboto+Condensed:wght@300&display=swap');

html *
{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body{
  border-right: 50px;
  border-left: 50px;
  background-color: white;
}

.nav-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 62px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  /*I set up position relatice so that the header-picture does not get out of the border of the header*/
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  display: grid;
  grid-template-columns: 7fr 7fr;
  grid-template-areas: "hero-content .";
  grid-template-rows: 10fr;
  min-height: 500px;
  align-items: center;
  /**
  Prevents elemnts of getting too close when wiewed on the device with small width*/
  grid-column-gap: 20px;
}


.header-logo{
  grid-area: header-logo;
  justify-self: left;
  width: 120px;
  padding-top: 5px;

}

.header-nav a {
  float: right;
  display: inline-block;
  color: #111111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  padding-top: 15px;
}

#last-link {
  margin-right: 0px;
}

header .hero-content{
  grid-area: hero-content;
  align-self: center;
  /*padding-left: 20px;*/
  padding-bottom: 158px;
  line-height: 40px;
}

header .hero-content p {
  font-size: 1.75rem;
  color: #111111;
  text-align: left;
  margin-top: 160px;
  margin-bottom: 15px;
}


header .header-image{
  position: absolute;
  top: 90px;
  right: 120px;
  width: 450px;
}


.button:hover, .button:active {
  background-color: #CB0500;
}
.button:focus {
  outline-style: solid;
  outline-color: transparent;
}


.about{
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  /*I set up position relatice so that the header-picture does not get out of the border of the header*/
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "about-heading about-heading" "info-1 info-2" "info-3 info-4" "learn-more-on-github learn-more-on-github";
  grid-template-rows: 1fr 2fr 2fr 1fr;
  min-height: 400px;
  align-items: flex-start;
  justify-items: center;
  /**
  Prevents elemnts of getting too close when wiewed on the device with small width*/
  grid-column-gap: 20px;
}

.about  .learn-more-on-github{
  justify-self: center;
  color: #111111;
  background-color: white;
  grid-area: learn-more-on-github;
  border: solid 1px;
}
.about .learn-more-on-github:hover, .learn-more-on-github:active{
  background-color: #FFD301;
  color: black;
}

.heading{
  grid-area: about-heading;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serifan;
  color: #222222;
}

.info{
  font-size: 30px;
}
.info-1{
  grid-area: info-1;
  justify-self: right;
}
.info-2{
  grid-area: info-2;
  justify-self: left;
}
.info-3{
  grid-area: info-3;
  justify-self: right;
}
.info-4{
  grid-area: info-4;
  justify-self: left;
}

.technology{
  background-color: #FFD301;
  /*I set up position relatice so that the header-picture does not get out of the border of the header*/
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "heading heading heading heading" "svg1 svg2 svg3 svg4";
  grid-template-rows: 1fr 2fr;
  min-height: 400px;
  align-items: center;
  justify-items: center;
  /**
  Prevents elemnts of getting too close when wiewed on the device with small width*/
  grid-column-gap: 20px;
}

.technology .used-technology{
  grid-area: heading;
}

.svg1 img{
  grid-area: svg1 ;
  width: 300px;
}

.svg2 img {
  grid-area: svg2;
  width: 300px;
}
.svg3 img{
  grid-area: svg3;
  width: 300px;
}

.svg4 img{
  grid-area: svg4;
  width: 300px;
}


* {
  box-sizing: border-box;
}


.button {
  background-color: #E10600FF;
  color: white;
  display: block;
  margin: 0;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Roboto', monospace;
  font-weight: 400;
}


.our-team{
  background-color: yellow;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "heading heading heading heading" "photo1 photo2 photo3 photo4";
  grid-template-rows: 0.5fr 2fr;
  min-height: 400px;
  align-items: center;
  justify-items: center;
  /**
  Prevents elemnts of getting too close when wiewed on the device with small width*/
  grid-column-gap: 20px;
}

.our-team .our-team-heading{
  grid-area: heading;
  color: #303AA5;
}

.profile-pic{
  margin-left: auto;
  margin-right: auto;
}

.photo-1{
  grid-area: photo1 ;
}

.photo-2{
  grid-area: photo2;
}
.photo-3{
  grid-area: photo3;
}

.photo-4{
  grid-area: photo4;
}

 .linkedin-icon{
  width: 30px;
  display: inline-block;
}

 .git-icon{
   width: 28px;
   display: inline-block;
 }

 .container-icons{
   text-align: center;
 }

.name{
  display: grid;
  border: #303AA5;
  color: #303AA5;
  padding-top: 2px;
  padding-bottom: 2px;
  justify-items: center;
}

.icons{
  display: inline-block;
  margin: 0 auto;

}



