body{
  background-color: #020202;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 4.5fr 4.5fr 0.5fr;
  margin-left: 2em;
  margin-right: 2em;

}

.nav {
  grid-column: 1 / 4;
  border-bottom: 1px solid black;
  background-color: #020202;
  color: #ffffff;

}

header {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 3fr 5fr;
  height: 65vh;
  max-height: 600px;
  background: black;
}


header img {
  place-self: center;
  grid-column: 2/3;
  height: 100%;
  width: auto;
  padding: 1rem 1rem 1rem 0;
  transition: 180ms width ease-in;
}

header .hero__content {
  grid-column: 1/2;
  margin: 1rem 0 1rem 5%;
  max-width: 100%;
  min-width: 30ch;
  z-index: 1;
  border-radius: 1rem;
  padding: 8rem 0.5rem 0.5rem 0;
}

header .hero__content p {
  font-size: 1.75rem;
  color: #ffffff;
  text-align: center;
}

header .button {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: #FFD301;
  color: #020202;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}


.button:hover, .button:active {
  background-color: #228263;
}
.button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #1a614a;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Baloo 2", sans-serif;
}


.section {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 0.5em;
}

h1 {
  margin-right: 3em;
  margin-top: 2em;
}

h2 {
  text-align: center;
  margin-top: 5em;
}

.cards {
  background: white;
  border-radius: 5px;
  box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
  margin-top: 2em;
  height: 100%;
  align-items: center;
}

.cards:hover {
  transform: scale(1.1);
}

.footer {
  grid-column: 1 / 4;
  margin-top: 2em;
}

.footer h3 {
  float: right;
}

button {
  display: block;
  margin: auto;
  background-color: #6b62fd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
