@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400&family=Roboto+Condensed:wght@300&display=swap');



body {
    margin: 0px;
    color: green;
    font: 16px/1.4 "Roboto", sans-serif;
    font-weight: 300;
}

/*.nav-container {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 920px;
    height: 50px;
    background-color: white;
    padding-bottom: 3px;
}*/


.header-nav-link {
    float: right;
    display: inline-block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    padding-top: 14px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 15px;
}

/*#last-link {
    margin-right: 0px;
    padding-right: 0px;
}*/

.nav-container{
    position: sticky;
    z-index: 9999;
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    grid-template-areas: "nav-logo nav-items";
    align-items: center;
    margin: auto;
    max-width: 1170px;
}

.nav-logo{
    grid-area: nav-logo
}

.logo{
    max-width: 120px;
    /*padding-top: 5px;*/
}

.nav-items{
    grid-area: nav-items;
    justify-self: right;
}


img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1{
    font-size: 193%;
    padding-bottom: 0.2em;
    padding-top: -7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2{
    font-size: 140%;
    padding-bottom: 0.2em;

    padding-top: 0;
    text-transform: uppercase;
    font-weight: 300;
}

p {
}

.button {
    background-color: #0559F7;
    color: white;
    /*! display: block; */
    margin: 0 auto 0px auto;
    border: none;
    padding: 15px 14px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
    border-radius:28px;

}

.button:hover, .button:active {
    background-color: #0645BC;
}

.project-details{
    padding-top: 5vw;
}

img.used-technology-t1{
    width: 55%;
    justify-self: center;
    align-self: start;
}

img.used-technology-t2{
    width: 55%;
    justify-self: center;
    align-self: center;
}

img.used-technology-t3 {
    width: 50%;
    justify-self: center;
    align-self: center;
}

img.used-technology-t4{
    width: 50%;
    justify-self: center;
    align-self: center;
}

.linkedin-icon{
    width: 30px;
    display: inline-block;
}

.git-icon{
    width: 28px;
    display: inline-block;
}

.container-icons{
    text-align: center;
}

.name{
    text-align: center;
}

.our-team{
    display: grid;
    justify-items: center;
    padding-bottom: 1em;
}



.wrapper {
    background-color: #fff;
    color: #222222;
    padding: 5vw 3% 1em 3%;
    margin: 0 auto 0 auto
}

a{
    text-decoration: none;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}

p{
    margin-bottom: 0;
    margin-top: 0;
}

hr{
    margin-bottom: 0;
    margin-top: 0;
}
